<!DOCTYPE html>
<html lang="en">
  <!-- index.html  21 Nov 2019 03:44:50 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Xpo - All Deleted SubCategory Details</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/assets/css/app.min.css" />
    <link
      rel="stylesheet"
      href="/assets/bundles/datatables/datatables.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/components.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.ico"
    />
  </head>

  <body>
    <div class="loader"></div>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">

        <%- include('../partials/navbar') %>

        <%- include('../partials/sidebar') %>

        <!-- Main Content start-->
        <div class="main-content">
          <section class="section">
            <div class="section-body">
              <!-- table start -->
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header justify-content-between">
                      <h4>All Deleted SubCategory List</h4>
                      <div>
                        <a
                          href="/admin/subCategory/<%= categoryId %>"
                          class="btn btn-dark text-white"
                        >
                        <i data-feather="chevrons-left"> </i> Back to SubCategories Page
                        </a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped" id="table-3">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>SubCategory Name</th>
                              <th>No.of Products</th>
                              <th>Created At</th>
                              <th>Deleted At</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% subcategories.forEach((item,index)=>{%>
                            <tr>
                              <td><%= index+1 %></td>
                              <td><%= item.subCategoryName %></td>
                              <td>
                                <%= item.noOfProducts %>
                              </td>
                              <td>
                                <%= new
                                Date(item.createdAt).toLocaleDateString('en-GB')
                                %>
                              </td>
                              <td>
                                <%= new
                                Date(item.deletedAt).toLocaleDateString('en-GB')
                                %>
                              </td>
                              <td class="text-center" style="min-width: 275px;">
                                <form action="/admin/restoreSubCategory/<%= categoryId %>/<%= item._id %>?_method=patch" method="post">
                                <button
                                  type="submit"
                                  class="btn btn-success text-white"
                                >
                                Restore
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-danger text-white"
                                  data-toggle="modal"
                                  data-target="#delete<%= index %>"
                                >
                                Delete permanently
                                </button>
                              </form>
                              </td>
                            </tr>

                            <!-- modal start -->
                            <div
                              class="modal fade"
                              id="delete<%= index %>"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="exampleModalCenterTitle"
                              aria-hidden="true"
                            >
                              <div
                                class="modal-dialog modal-dialog-centered"
                                role="document"
                              >
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5
                                    class="modal-title text-danger"
                                    id="exampleModalCenterTitle"
                                  >
                                    Delete Warning
                                  </h5>
                                    <button
                                      type="button"
                                      class="close"
                                      data-dismiss="modal"
                                      aria-label="Close"
                                    >
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body text-dark">
                                    Are you sure you want to delete SubCategory :
                                    <strong><%= item.subCategoryName %></strong
                                    ><br />
                                    (All Produtcs also delete. This action cannot be undone.)
                                  </div>
                                  <div class="modal-footer bg-whitesmoke br">
                                    <button
                                      type="button"
                                      class="btn btn-primary"
                                      data-dismiss="modal"
                                    >
                                      Cancel
                                    </button>
                                    <form
                                      action="/admin/deletedSubCategories/<%= categoryId %>/<%= item._id %>?_method=delete"
                                      method="post"
                                    >
                                      <button
                                        type="submit"
                                        class="btn btn-danger"
                                      >
                                        Delete SubCategory permanently
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- modal end -->
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- table end -->
            </div>
          </section>
        </div>
        <!-- Main Content end-->
      </div>
    </div>
    <!-- General JS Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/assets/bundles/datatables/datatables.min.js"></script>
    <script src="/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/bundles/jquery-ui/jquery-ui.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/datatables.js"></script>
    <!-- Template JS File -->
    <script src="/assets/js/scripts.js"></script>
  </body>

  <!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>
